@font-face {
  font-family: 'iconfont';  /* project id："172617" */
  src: url('https://at.alicdn.com/t/font_jxsxzfe3dj8umcxr.eot');
  src: url('https://at.alicdn.com/t/font_jxsxzfe3dj8umcxr.eot') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_jxsxzfe3dj8umcxr.woff') format('woff'),
  url('https://at.alicdn.com/t/font_jxsxzfe3dj8umcxr.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_jxsxzfe3dj8umcxr.svg#iconfont') format('svg');
}
$device-width:320px,360px,375px,412px,414px;
$width:750px;
*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
img{
    border: none;
}
html{
    font-size: 100px;
}
body{
    font-size: 16px;
    height: 568px;
    background: #E8E5E5;
}
@each $w in $device-width{
    @media screen and (min-width:#{$w}){
        html{
            font-size:100px * $w / $width;
        }
    }
}
@mixin top-bottom{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
@keyframes delete{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(120%);
    }
}

// 颜色选择器
$type: kuai !default;
@mixin color { 
//@else的mixin实例
  @if $type == kuai {
    color: blue;
  }
  @else if $type == google {
    color: red;
  }
  @else if $type == fackbook {
    color: black;
  }
  @else {
    color: orange;
  }
}
@keyframes delete{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(120%);
    }
}
li.done{
        .content{
            color: #CBCBCB;
            text-decoration: line-through;
        }
        .delete{
            display: block;
        }
    }
    li.delete-d{
        animation: delete 1s both normal;
    }
.yemian1{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;top: 0;
}
#header{
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    position: relative;
    background: #C4C4C4; 
    .shezhi{
        width:1rem;
        height: 1rem;
        line-height: 1rem;
        position: absolute;
        left: 20px;
        top: 0.6rem;
        background: url(../img/shezhi.gif) no-repeat;
        //font-family: "iconfont";
    }
    .yanse{
        float: left;
    }
    span{
        @include top-bottom;
        position: absolute;
        width: 40%;
        height: 100%;
        left: 30%;
        font-size: 24px;
        color: #ffffff;
    }
    .yanse{
        width:.9rem;
        height: .9rem;
        line-height: 1rem;
        position: relative;
        right:1.2rem;
        top: 0.5rem;
        display: block;
        background: url(../img/yanse.gif) no-repeat;
        ul{
            width: .9rem;
            height: 3rem;
            background: #fff;
            // opacity:0;
            // display: block;
            display: block;
            z-index: 222;
            position: absolute;
            top: -.2rem;
            // left: -.2rem;
            border-radius: 30px;
            > li{
                margin-left: .2rem;
                margin-top: .3rem;
            }
            > li:nth-child(1) {
               width:.5rem;
               height: .5rem;
               background:#C0FF3E;
               border-radius: 50%;

            }
            > li:nth-child(2) {
               width:.5rem;
               height: .5rem;
               background: #D15FEE;
               border-radius: 50%;

            }
            > li:nth-child(3) {
               width:.5rem;
               height: .5rem;
               background: #FFC0CB;
               border-radius: 50%;

            }
        }
    }
    .sousuo{
        position: absolute;
        float: right;
        right: 10px;
        top: -5px;
        font-size: 33px;
        font-family: "iconfont";
        color: #fff;

    }
}

#uls{
    width: 85%;
    height: auto;
    // padding: 1rem;
    margin:0 auto;
    position: relative;
    margin: 10px auto;   
    background: #E8E8E8; 
    li{
        margin-top: 10px;
    }
    .dones{
        color: red;
    }
    .done{
        width: 100%;
        height: 1.3rem;
        background: #fff;
        position: relative;
        border-radius: 20px; 
        //.border-#{$border-direction} 
            .#{$type}{
                    width: .7rem;
                    height: .4rem;
                    background: blue;
                    top: 30%;
                    position: absolute;
                    left:-0.45rem; 
                    border-radius: 10px; 
                }
            .sj{
                font-size: 12px;
                width: 5rem;
                height: .3rem;
                // background: red;
                position: absolute;
                left: 20px;
                top: 5px;
                div{
                    float: left;
                }
            }
            .wjx{
                font-family: "iconfont";
                color:#c2c2c2;
                float: right;
                 font-size: 13px;
                position: absolute;
                right: 15px;
                top: 5px;
            }
            .zt{
                width: 100%;
                height: 50%;
                font-size: 13px;
                position:absolute;
                top: 25%;
                padding: 3%  6%;
            }
    }


}


#floor{
    width:100%;
    height: 2rem;
    position:absolute;
    bottom: 0;
    left: 0;
    div{
        float: left;
        width: 50%;
        height: 100%;
        line-height: 2rem;
        text-align: center;
        img{
            margin-top: .5rem;
        }

    }
    .heng{
        background: #AAAAAA;

    }
    .jia{
        background: #C5C5C5;
    }
}




#xie{
    width: 280px;
    height:528px;
    position: relative;
    left: 20px;
    top: 20px;
     .kuai{
            width: 1rem;
            height: 3rem;
            // background: ;
            position: absolute;
            left:-0.45rem;
            top: 1rem;
            opacity: .6; 
            border-radius: 10px; 
        }
        .sj{
            font-size: 12px;
            width: 5rem;
            height: .3rem;
            // background: red;
            position: absolute;
            left: 30px;
            top: 10px;
            color: #ccc;
            div{
                float: left;
            }
        }
        .wjx{
            font-family: "iconfont";
            color:#c2c2c2;
            float: right;
            font-size: 25px;
            position: absolute;
            right: 15px;
            top: 5px;
        }
        .zt{
            width: 100%;
            height: 50%;
            font-size: 13px;
            position:absolute;
            top: 25%;
            padding: 3%  6%;
        }
        textarea{
            width: 100%;
            height: 80%;
            max-width: 100%;
            max-height: 80%;
            // line-height: 0;
            // background: red;
            box-shadow: 0 0 10px red;
            border:0;
            font-size: 16px;
            padding:30px 10px;


        }
    
}


@keyframes myfirst
{
0% {left:100%}
100% {left:0%}
}

@keyframes myleft
{
0% {left:0}
100% {left:-100%}
};

@keyframes first
{
0% {left:0%}
100% {left:100%}
}

@keyframes lefts
{
0% {left:-100%};
100% {left:0%}
};
.right1{
    animation:first 1s  linear 0.2s 1 forwards;
}
.left1{
    animation:lefts 1s  linear 0.2s 1 forwards;
    //background: red;
    z-index: 22;
}


.right{
    animation:myfirst 1s  linear 0.2s 1 forwards;
}
.left{
    animation:myleft 1s  linear 0.2s 1 forwards;
    //background: red;
    z-index: 22;
}

.yemian2{ 
    position:fixed;
    left: 100%;
    width: 100%;
    height: 100%;
    // margin-left: 100%;
    //display:none;
     //transform:translateX(100%);

  #floor{
    div{
        margin-top: 20px;
        img{
            margin-top: 8px;
        }
    }
  }   
}





.dg11{
    width: 100px;
    height: 100px;
    position: relative;
    left: 0;top:200px;
    background: red;
    animation:myfirst 3s 1 linear 0.2s;
    z-index: 100;
}

.yemian1{
    display: block;
}


.add{
    width: 30px;
    height: 30px;
    border-radius:50%;
    background: red; 
    position: absolute;
    left: 5rem;
    bottom: 3rem;
}






